@font-face
  font-family: 'Georgia-Itatlic'
  src: url('/fonts/georgiai.ttf')

html
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.no-gutter
  padding-left: 0
  padding-right: 0
body
  font-family: 'Lato', 'sans-serif'
  font-weight: 400\

nav
  &.navbar-default
    width: 100%
    position: absolute
    background-color: transparent
    border: none
  .container-fluid
    .navbar-header
      .navbar-brand
        display: block
        height: auto
        margin-left: 0
        .brand-logo
          height: 50px
          display: block

#modal-message
  .modal-dialog
    z-index: 1051
    position: absolute
    top: 40%
    left: 0
    right: 0
    opacity: 0
    -webkit-transform: translateY(-40%)
    -ms-transform: translateY(-40%)
    -o-transform: translateY(-40%)
    transform: translateY(-40%)
    -webkit-transition: all 0.3s ease
    -moz-transition: all 0.3s ease
    -o-transition: all 0.3s ease
    transition: all 0.3s ease

  &.in .modal-dialog
    margin-top: 0
    margin-bottom: 0
    position: absolute
    top: 40%
    opacity: 1
    -webkit-transform: translateY(-40%)
    -ms-transform: translateY(-40%)
    -o-transform: translateY(-40%)
    transform: translateY(-40%)
  .modal-content
    border: none
    border-radius: 2px
    -webkit-box-shadow: none
    -moz-box-shadow: none
    box-shadow: none
    padding: 8% 5%
    background-color: #f39c12
    .text-alert
      margin: 20px auto
      color: #ffffff
      text-align: center
