<div class="container-fluid no-gutter">
    <div class="filter-section">
        <div class="container no-gutter">
            <fieldset class="filter-group hidden-xs">
                {% for filter in site.project-filter %}
                <button class="filter" data-filter="{{ filter.filter }}">{{ filter.name }}</button>
                {% endfor %}
            </fieldset>
            <div class="dropdown hidden-lg hidden-md hidden-sm visible-xs">
                <button class="dropdown-toggle" type="button" data-toggle="dropdown">Category Filter<span class="caret"></span></button>
                <ul class="dropdown-menu">
                    {% for filter in site.project-filter %}
                    <li class="button-item">
                        <button class="filter" data-filter="{{ filter.filter }}">{{ filter.name }}</button>
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>

    <div id="project-container">
        {% assign sorted-project = site.data.project %}
        {% for project in sorted-project %}
        <a href="http://{{ project.link }}" class="mix section-url col-lg-4 col-md-4 col-sm-6 col-xs-12 {{ project.type }} no-gutter" data-rank="{{ project.rank }}" target="_blank">
            <div class="project-item" style="background-image: url('https://res.cloudinary.com/rensramos/image/upload/personal-website/project/{{ project.image }}');">
                <div class="section-overlay" style="background-color: #{{ project.bg-color }}"></div>
                <div class="caption">
                    <span class="section-title">{{ project.title }}</span>
                    <span class="section-type">{{ project.role}}</span>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>


