<div class="section-container container no-gutter">
    <div class="section-content clearfix">
        <div class="left-section col-md-6 ">
            <div class="section-image">
                <img class="image img-responsive center-block" src="https://res.cloudinary.com/rensramos/image/upload/personal-website/assets/web-development.png"/>
            </div>
            <div class="section-description">
                <h4 class="header">Web Development</h4>
                <!--<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>-->
            </div>
        </div>
        <div class="right-section col-md-6">
            <div class="section-image">
                <img class="image img-responsive center-block" src="https://res.cloudinary.com/rensramos/image/upload/personal-website/assets/web-design.png"/>
            </div>
            <div class="section-description">
                <h4 class="header">Web Design</h4>
                <!--<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>-->
            </div>
        </div>
    </div>
</div>